<div class="message">
		<img src="<%= message.user.avatar.small.url%>" class="img-circle xxs-img-circle message-avatar">
		
		<div class="message-container">
			<p ><%= message.content %></p>
		</div>
	
	
</div>