var cid = <%= @conversation.id %>
if(!$('#conversations-' + cid).hasClass('hidden')){
	if($('#contact-'+cid).length > 0 ){
		$('#contact-'+cid).remove();

	}
	if($('.hidden').length > 0 ){

			// var image_url = $('.visible-chat').find('#chat-title').attr('image-url');
			var cr_id = $('.hidden').find('#chat-title').attr('cr-id');
			$('.hidden').addClass('invisible-chat');
			$('.hidden').removeClass('hidden');
			$.get("contact_relationships/" + cr_id);
		}

	if($('#conversations-' + cid ).length <= 0){
	$('#chat-box').append('<div id="conversations-' + cid + '"></div>');
	$('#conversations-' + cid).html("<%= escape_javascript(render 'conversations/conversation') %>");
	}
	else{
		$('#conversations-' + cid).removeClass('invisible-chat');
	}
	$('#conversations-' + cid).addClass('visible-chat');
	$('#conversations-' + cid + ' #chat-content')[0].scrollTop = $('#conversations-' + cid + ' #chat-content')[0].scrollHeight;

}
else{
	$('.hidden').addClass('visible-chat');
	$('.hidden').removeClass('hidden');
}
//hide notificatin menu
if($('.menu').hasClass('unfoldered')){
			$('.menu').hide();
			$('.menu').removeClass('unfoldered');
}
//update notification menu
$('#notification-menu').html("<%= escape_javascript(render('shared/unread_notification',user:@user)) %>");
$('#chat-preloader').hide();