<div class="container outline home-body likes-page">
	<div class="post-container">
		<%= render 'shared/feed'%>
	</div>
	<div class="preloader-container" align="center"> <img src="/assets/728.gif" id="home-preloader"> </div>
</div>
<div id="shadow-layer">
</div>
<div id="side-user-profile" class="side-page">
	<img id="profile-preloader" src="/assets/720">
	<div id="profile-content">
	</div>
</div>