<div class="start-conversation" c-id="<%= find_conversation(current_user,c).id %>" id="contact-<%= find_conversation(current_user,c).id %>" >
			<img src="<%= c.avatar.medium.url %>" class="img-circle recommended-img-circle start-conversation" style="margin:10px">
</div>