$('#results-list').empty()
$('#home-search-preloader').hide();
$('#user-search-preloader').hide();
<% if @results.any? %>
	$('#results-list').append("<%= escape_javascript(render @results)%>");
<% else %>
	$('#results-list').append('<li style="padding-top:5%"><p class="light-gray" align="center" >No results found.</p></li>');
<% end %>
