/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*font*/
.title-bar a{
	text-decoration: none;
	color: #283D75;
}
.title-bar a:hover{
	text-decoration: none;
	color: #283D75;
}

/*    */
a,p{
	font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #F7F7F7;
	-webkit-text-size-adjust: auto;
}
.container{
	padding: 0;
}

.input-field{
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  height: 40px;
  text-indent: 10px;
}

.outline{
	max-width: 620px;
	padding-left: 10px;
	padding-right: 10px;
}
.user{
	max-width: 958px;
	padding-left: 10px;
	padding-right: 10px;
}
.error_messages{
	width: 100%;
	padding:0;
	color: #FFFFFF;
	list-style-position: inside;

}
.error_background{

	margin-top: 10px;
	background: rgba(0,0,0,.5);
	border-radius: 5px;
}
.login_error_background{
	text-align: center;
	padding: 15px;
	margin-top: 10px;
	background: rgba(0,0,0,.5);
	border-radius: 5px;
}


.hidden{
	display: none;
}

.center{
	margin: auto;
}

.no-padding{
	padding: 0;
}
.place-right{
	float: right;
}
.place-left{
	float: left;
}
.b{
	border: solid;
}
.content-center{
	top:20%;
	text-align: center;
}


.col-left{
	float: left;
}
.edit{
	max-width: 520px;
	padding-top: 10px;
	padding-bottom: 100px;
	padding-left: 10px;
	padding-right: 10px;
}
.select-form{
	display: block;
}
.post-edit{
	margin-top: 10px;
	margin-bottom: 30px;
}
.post-edit .btn{
	margin-top: 5px;
}
.not-display{
	display: none;
}
.blue{

	color: #0066CC;
}
.deep-blue{
	color: #003366;
}
.gray{
	color: #A1A1A1;
}
.deep-gray{
	color: #606060;
}
