// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post{

	background-color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
	padding-bottom:10px;
	border-radius: 4px;
}

.post-sm{
	padding: 0px;
	border-radius: 4px;
	background-color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
}

.post-sm .txt-area-sm{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.comment-btn{
	cursor:pointer;
}
.like-btn{
	cursor:pointer;
}
.dislike-btn{
	cursor:pointer;
}
.post-profile{
	cursor:pointer;
}
.overview{
	position:absolute;z-index:100;width:300px;left:20%;background:white;
	display: none;
}
#profile-header-overview{
	background: #4B8AC1;
	width: 100%;
	height: 170px;
}
#profile-avatar-overview{
	border:2px solid white;
	position: absolute;
	left: 110px;
	top:120px;
}
#profile-info-overview {
	height: 100px;
	padding: 50px;
}
#profile-header-overview li{
	margin: 10px;
}
.post-container{
	padding-top: 0px;
}