// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post{
	border: 1px solid;
	background-color: #FFFFFF;
	border-color: #D7D7D7;
	text-align: center;
	margin-top: 20px;
    padding-bottom: 5px;
}
.comment-btn{
	cursor:pointer;
}
.like-btn{
	cursor:pointer;
}
.dislike-btn{
	cursor:pointer;
}
.post-profile{
	cursor:pointer;
}
