// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow-plus{
	background: #657182;
	color: #36465D;
	padding: 8px;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
}